body {
    margin: 30px;
  }

#title {
    padding-top: 20px;
    padding-bottom: 20px;
  }

#clients td, #clients th {
    font-size: 1.2rem;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  #clients th {
    font-size: 1.4rem;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #8ECDD2;
    color: white;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }